<% if comments.present? %>
  <% comments.each do |comment| %>
    <div class="comment">
      <strong><%= comment.user.name.presence || comment.user.email %></strong>
      <p><%= comment.content %></p>
      <p class="timestamp"><%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

      <% if current_user == comment.user %>
        <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p><%= t('views.no_comment') %></p>
<% end %>
