<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <header>
  <% if user_signed_in? %>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
    <% unless current_page?(edit_user_registration_path) %>
      <li>
      <%= link_to "アカウント情報を編集", edit_user_registration_path %>
      </li>
    <% end %>
    <% unless current_page?(users_path) %>
      <li>
        <%= link_to "ユーザー一覧", users_path %>
      </li>
    <% end %>
    <% unless current_page?(books_path) %>
      <li>
        <%= link_to "本の一覧", books_path %>
      </li>
    <% end %>
  <% else %>
    <% if current_page?(new_user_session_path) %>
      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
    <% end %>
    <% if current_page?(new_user_registration_path) %>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
  <% end %>
</header>
    <%= yield %>
  </body>
</html>
